.login-box {
	border: 2px solid #558BC4;
	background: #fff;
	margin-top:20px;
	-moz-box-shadow:    2px 2px 4px #777;
	-webkit-box-shadow: 2px 2px 4px #777;
	box-shadow:         2px 2px 4px #777;
}
.login-box h2 {
	margin-top:12px;
	margin-left:12px;
}
.login-box form {
	padding:0 12px 8px 12px;
}
.login-box .form-actions {
	margin-bottom:0;
}