.make-toggle .radio, .make-toggle .checkbox {
	padding-left: 0;
}
.markItUpEditor {
	background: white!important;
	width: 96%!important;
	height: auto;
	padding-left: 10px;
}
.markItUpHeader .preview {
	display:none;
}
.side-select .controls .radio.inline {
	margin-right: 12px;
}
.side-select .controls .radio.inline .radio_buttons {
	margin-top:18px;
}